


.navbar-main-div {
    background-color: #003357;
}

.nav-brand-text {
    padding-left: 100px;
    padding-right: 700px;
    color: white;
    font-weight: bold;
}

.nav-text-color {
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.nav-brand-text:hover {
    color: #a9a9a9;
}

.nav-text-color:hover {
    color: #a9a9a9;
}

.img-2 {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    display: flex;
    margin: auto;
    align-items: center;
}


.profile-image {
    padding-top: 90px;
}

.content {
    background-color: rgb(9, 167, 114);
    padding-bottom: 20px;
}


h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    color: white;
    font-weight: bold;
    
}

.p-1 {
    text-transform: capitalize;
    color: white;
    text-align: center;
    font-size: 16px;
}

.footer {
    padding-top: 40px;
    padding-bottom: 5px;
    text-align: center;
    background-color: white;
    font-size: 35px;
    font-weight: bold;
}

.footer-1 {
    background-color: black;
    height: 20px;
}

.content-2 {
    margin-bottom: 50px;
}

.row {
    display: flex;
    margin: 0 200px;
    justify-content: center;
    padding-bottom: 40px;
}

.img-div {
    position: relative;
}

.portfolio-hover {
    cursor: pointer;
    background-color: rgb(9, 167, 114);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
    border-radius: 0.5em;
}

.portfolio-hover-icon {
    font-size: 2.5em;
    font-weight: bold;
}

.portfolio-hover:hover {
    opacity: 0.9;
}


.about {
    background-color: rgb(9, 167, 114);
    padding-top: 60px;
}

p {
    color: white;
}

.about-2 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.about-child-1 {
    width: 20%;
    text-align: justify;
}

.button-div {
    display: flex;
    justify-content: center;
}

.button {
    color: white;
    background-color: rgb(9, 167, 114);
    border-radius: 5px;
    border: 2px solid white;
    margin: 40px 0 70px 0;
    padding: 10px 20px;
}

.icon {
    padding-right: 10px;
}

.contact-me{
    color: black;
}

.star {
    display: flex;
    justify-content: center;
    text-align: center;
}

.star-line-1 {
    margin-right: 10px;
    margin-top: 7px;
    width: 70px;
    height: 3px;
    text-align: justify;
    background-color: black;
}

.star-line-2 {
    margin-left: 10px;
    margin-top: 7px;
    width: 70px;
    height: 3px;
    text-align: justify;
    background-color: black;
}

.star-line-1-white {
    background-color: rgb(255, 255, 255);
}

.star-line-2-white {
    background-color: rgb(255, 255, 255);
}

.star-white {
    color: white;
}

.form-main {
    display: flex;
    justify-content: center;

}

.form {
    width: 40%;
}

.input {
    height: 20px;
    width: 600px;
    display: block;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgb(190, 190, 190);
}

.lable {
    padding-top: 30px;
    display: block;
}

.textarea-hight {
    width: 600px;
    height: 100px;
    display: block;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgb(190, 190, 190);
    margin-bottom: 10px;
}

.textarea-button {
    background-color: rgb(9, 167, 114);
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    color: white;
    margin-bottom: 60px;
}

.end-footer {
    background-color: #003357;
    color: white;
    display: flex;
    justify-content: center;

}

.end-footer-child-1 {
    width: 200px;
    padding: 30px;
    text-align: center;
}

.end-footer-child-2 {
    width: 170px; 
    margin-left: 100px;
    text-align: center;
    padding-top: 30px;
}

.end-footer-child-3 {
    width: 300px;
    padding: 30px;
    text-align: center;
}

h4 {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 7px;
}

.footer-icon {
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
}

.footer-p {
    font-size: 12px;
}

.footer-link {
    color: rgb(9, 167, 114);
}

.copyright {
    text-align: center;
    background-color: rgb(0, 32, 22);
    padding: 15px;
    font-size: 10px;
}


h5 {
    color: black;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
}

.main-modal-content {
    width: 600px;
    justify-content: center;
}


.img-model-size {
    display: flex;
    width: 400px;
    justify-content: center;
}

.model-img {
    border: none;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

/* header main div */
.header-continar-my {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

}

/* for header close button */
.my-btn-model {
    width: 100%;
    padding: 10px 10px 30px 0px;
}

/* for header close button to float to the right */
.my-btn {
    float: right;
}
/* for header text */
.h5-text {
    width: 100%;
    margin: 0;
    padding-bottom: 5px;
}
/* for header star */
.star-model {
    display: flex;
    width: 100%;
    justify-content: center;
}


/* footer close button */
.button-close {
    background-color: rgb(9, 167, 114);
    border-radius: 7px;
    border: none;
    color: white;
    padding: 5px 10px;
}

/* footer design */
.my-model-footer {
    justify-content: center;
    text-align: center;
    color: black;
    padding: 10px 80px 20px 80px;
    border: none;
}

.modal-text {
    color: black;
    font-size: 12px;
    padding-bottom: 10px;
}














